<!DOCTYPE html>
<html>
  <head>
    <script src="/jqueryui/js/jquery-1.7.2.min.js"></script>
    <script src="/js/easyajaxforms-min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/flotr2.min.js"></script>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css' />
    
    <link type="text/css" href="/jqueryui/css/ui-lightness/jquery-ui-1.8.21.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="/jqueryui/js/jquery-ui-1.8.21.custom.min.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>